.related-article{
	padding-top: 54px;
	.related-article-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 28px;
		.related-article-header{
			h4{
				align-items: center;
				color: black;
				column-gap: 6px;
				display: flex;
				font-size: 30px;
				@include font-Roboto-Bold;
				line-height: calc(35 / 30);
				margin-bottom: 0;
			}
			.related-article-header-controls{
				column-gap: 6px;
				.related-article-slider-prev,
				.related-article-slider-next{
					align-items: center;
					background-color: #E8ECEF;
					border: none;
					border-radius: 11px;
					display: flex;
					flex: 0 0 48px;
					height: 48px;
					justify-content: center;
					max-width: 48px;
					padding: 5px;
					width: 48px;
				}
			}
		}
		.related-article-slider{
			display: flex;
			flex-direction: column;
			overflow: hidden;
			position: relative;
			.related-article-items{
				display: flex;
				gap: 24px;
				transition: transform 0.4s ease;
				will-change: transform;
				.related-article-item{
					display: flex;
					flex-direction: column;
					flex: 0 0 auto;
					row-gap: 1rem;
					.related-article-item-image{
						border-radius: 20px;
						overflow: hidden;
					}
					p{
						color: black;
						font-size: 18px;
						@include font-Roboto-Medium;
						line-height: calc(27 / 18);
						margin-bottom: 0;
					}
					.related-article-item-info{
						align-items: center;
						display: flex;
						justify-content: space-between;
						padding-top: 1rem;
						.related-article-item-info-date{
							color: #8B9299;
							font-size: 16px;
							@include font-Roboto-Medium;
							line-height: calc(22 / 16);
						}
						.related-article-item-info-view-comments{
							align-items: center;
							column-gap: 35px;
							display: flex;
							.related-article-item-info-view,
							.related-article-item-info-comments{
								align-items: center;
								column-gap: 14px;
								display: flex;
								span{
									color: #8B9299;
									font-size: 16px;
									@include font-Roboto-Medium;
									line-height: calc(22 / 16);
								}
							}
						}
					}
				}
			}
		}
	}
}
.site-pagination{
	padding-bottom: 30px;
	padding-top: 25px;
}
.site-pagination-wrapper{
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	.site-pagination-load-more{
		display: flex;
		flex-direction: column;
		.site-pagination-load-more-button{
			align-items: center;
			background-color: #E8ECEF;
			border: none;
			border-radius: 11px;
			color: #3F4B56;
			column-gap: 3px;
			display: flex;
			font-size: 17px;
			@include font-Roboto-SemiBold;
			height: 48px;
			justify-content: center;
			line-height: calc(19 / 17);
		}
	}
	.site-pagination-container{
		align-items: center;
		column-gap: 4px;
		display: flex;
		justify-content: space-between;
	}
	.site-pagination-menus{
		align-items: center;
		column-gap: 36px;
		display: flex;
		@include media-breakpoint-down(lg){
			column-gap: 30px;
		}
		@include media-breakpoint-down(md){
			column-gap: 9px;
		}
		.site-pagination-menu-action{
			align-items: center;
			column-gap: 4px;
			display: flex;
			.site-pagination-menu-action-button{
				align-items: center;
				background-color: #E8ECEF;
				border: none;
				border-radius: 11px;
				flex: 0 0 48px;
				height: 48px;
				line-height: 1;
				max-width: 48px;
				width: 48px;
				@media (max-width: 359.98px){
					flex: 0 0 40px;
					height: 40px;
					max-width: 40px;
					width: 40px;
				}
			}
		}
		.site-pagination-counter{
			align-items: center;
			color: #939393;
			display: flex;
			font-size: 16px;
			@include font-Roboto-Medium;
			justify-content: center;
			line-height: calc(22 / 16);
			text-align: center;
			width: 100%;
			@include media-breakpoint-up(md){
				display: none;
			}
		}
		.site-pagination-menu{
			align-items: center;
			column-gap: 52px;
			display: flex;
			@include media-breakpoint-down(lg){
				column-gap: 38px;
			}
			@include media-breakpoint-down(md){
				display: none;
			}
			.site-pagination-menu-item{
				color: #97A0A9;
				display: inline-flex;
				font-size: 18px;
				@include font-Roboto-SemiBold;
				line-height: calc(22 / 18);
				transition: all 0.3s ease-in-out 0s;
				&.active,
				&:hover,
				&:focus{
					color: black;
				}
			}
		}
	}
	.site-pagination-scroll-top{
		align-items: center;
		background-color: #E8ECEF;
		border: none;
		border-radius: 11px;
		flex: 0 0 48px;
		height: 48px;
		line-height: 1;
		max-width: 48px;
		width: 48px;
		@media (max-width: 359.98px){
			flex: 0 0 40px;
			height: 40px;
			max-width: 40px;
			width: 40px;
		}
	}
	&.site-pagination-small{
		.site-pagination-container{
			.site-pagination-menus{
				column-gap: 34px;
				@include media-breakpoint-down(md){
					column-gap: 9px;
				}
				.site-pagination-menu{
					column-gap: 32px;
				}
			}
		}
	}
}
.main-articles{
	.main-articles-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 34px;
		.articles-item-cards{
			display: grid;
			grid-column-gap: 24px;
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 34px;
			@include media-breakpoint-down(lg){
				grid-row-gap: 30px;
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 560px){
				grid-template-columns: 1fr;
			}
		}
		.main-articles-load-more{
			display: flex;
			flex-direction: column;
			.main-articles-load-more-button{
				align-items: center;
				background-color: #E8ECEF;
				border: none;
				border-radius: 11px;
				color: #3F4B56;
				column-gap: 3px;
				display: flex;
				font-size: 17px;
				@include font-Roboto-SemiBold;
				height: 48px;
				justify-content: center;
				line-height: calc(19 / 17);
			}
		}
	}
}
.article-item-card{
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	.article-item-card-image{
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		.article-item-card-love{
			background-color: rgba(black, 0.18);
			border: none;
			border-radius: 12px;
			height: 49px;
			position: absolute;
			right: 11px;
			top: 11px;
			transition: all 0.3s ease-in-out 0s;
			width: 49px;
			&.active{
				background-color: #202020;
			}
		}
	}
	p{
		color: black;
		font-size: 18px;
		@include font-Roboto-Medium;
		line-height: calc(27 / 18);
		margin-bottom: 0;
	}
	.article-item-card-info{
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding-top: 1rem;
		.article-item-card-info-date{
			color: #8B9299;
			font-size: 16px;
			@include font-Roboto-Medium;
			line-height: calc(22 / 16);
		}
		.article-item-card-info-view-comments{
			align-items: center;
			column-gap: 35px;
			display: flex;
			.article-item-card-info-view,
			.article-item-card-info-comments{
				align-items: center;
				column-gap: 14px;
				display: flex;
				span{
					color: #8B9299;
					font-size: 16px;
					@include font-Roboto-Medium;
					line-height: calc(22 / 16);
				}
			}
		}
	}
}
.article-category{
	//padding-bottom: 30px;
	.article-category-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 35px;
		h2{
			color: #121212;
			font-size: 30px;
			@include font-Roboto-Bold;
			line-height: calc(35 / 30);
			margin-bottom: 0;
		}
		.article-category-items{
			display: grid;
			grid-column-gap: 1rem;
			grid-row-gap: 24px;
			grid-template-columns: repeat(3, 1fr);
			@include media-breakpoint-down(lg){
				grid-template-columns: repeat(2, 1fr);
			}
			@include media-breakpoint-down(md){
				grid-template-columns: 1fr;
			}
			.article-category-item{
				align-items: flex-start;
				column-gap: 13px;
				display: flex;
				.article-category-item-icon{
					align-items: center;
					background-color: #BDC3C9;
					border-radius: 50%;
					display: flex;
					flex: 0 0 44px;
					height: 44px;
					justify-content: center;
					max-width: 44px;
				}
				.article-category-item-text{
					color: black;
					font-size: 22px;
					@include font-Roboto-Medium;
					line-height: calc(28 / 22);
					padding-top: 8px;
				}
			}
		}
	}
}
.related-articles{
	padding-bottom: 30px;
	.related-articles-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 35px;
		h2{
			color: #121212;
			font-size: 30px;
			@include font-Roboto-Bold;
			line-height: calc(35 / 30);
			margin-bottom: 0;
		}
		.related-articles-links{
			display: grid;
			grid-column-gap: 1rem;
			grid-row-gap: 24px;
			grid-template-columns: repeat(3, 1fr);
			@include media-breakpoint-down(lg){
				grid-template-columns: repeat(2, 1fr);
			}
			@include media-breakpoint-down(md){
				grid-template-columns: 1fr;
			}
			.related-articles-link{
				align-items: flex-start;
				column-gap: 13px;
				display: flex;
				span{
					color: black;
					display: inline-flex;
					font-size: 20px;
					@include font-Roboto-Medium;
					line-height: calc(27 / 20);
					&:first-of-type{
						padding-top: 3px;
					}
				}
			}
		}
	}
}
.article-single{
	padding: 30px 0;
	.article-single-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		.article-single-actions{
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			max-width: 780px;
			row-gap: 25px;
			width: 100%;
		}
	}
}