.contact-google-map{
	padding-top: 56px;
	.contact-google-map-wrapper{
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		.contact-google-map-google-map{
			border-radius: 24px;
			overflow: hidden;
			padding-bottom: 418px;
			position: relative;
			@include media-breakpoint-down(lg){
				padding-bottom: 360px;
			}
			@include media-breakpoint-down(md){
				padding-bottom: 300px;
			}
			iframe{
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
		.contact-google-map-link{
			align-items: center;
			background-color: #1B1B1B;
			border-radius: 11px;
			color: white;
			display: flex;
			font-size: 17px;
			@include font-Roboto-SemiBold;
			height: 48px;
			justify-content: center;
			line-height: calc(19 / 17);
			width: 100%;
		}
	}
}
.main-contact{
	padding-top: 30px;
	.main-contact-wrapper{
		display: flex;
		flex-direction: column;
		padding-left: 220px;
		row-gap: 40px;
		@include media-breakpoint-down(xl){
			padding-left: 124px;
		}
		@include media-breakpoint-down(lg){
			padding-left: 0;
		}
		@include media-breakpoint-down(md){
			row-gap: 30px;
		}
		.main-contact-header{
			display: flex;
			flex-direction: column;
			row-gap: 18px;
			.main-contact-breadcrumb{
				h1{
					color: black;
					font-size: 36px;
					@include font-Roboto-Bold;
					line-height: calc(42 / 36);
					margin-bottom: 0;
				}
				.main-contact-breadcrumb-menu{
					align-items: center;
					column-gap: 6px;
					display: flex;
					.main-contact-breadcrumb-item{
						a,
						span{
							color: #757B82;
							font-size: 17px;
							@include font-Roboto-Regular;
							line-height: calc(28 / 17);
						}
						&.separator{
							&:after{
								background-color: #757B82;
								content: '';
								display: block;
								height: 1px;
								width: 14px;
							}
						}
					}
				}
			}
			h2{
				color: black;
				font-size: 30px;
				@include font-Roboto-Bold;
				line-height: calc(35 / 30);
				margin-bottom: 0;
				max-width: 600px;
				@include media-breakpoint-down(lg){
					max-width: 100%;
				}
			}
		}
		.main-contact-social{
			display: grid;
			grid-column-gap: 42px;
			grid-row-gap: 20px;
			grid-template-columns: repeat(3, 1fr);
			@include media-breakpoint-down(lg){
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 24px;
			}
			@include media-breakpoint-down(sm){
				grid-template-columns: 1fr;
			}
			.main-contact-social-item{
				align-items: center;
				column-gap: 16px;
				display: flex;
				.main-contact-social-item-icon{
					align-items: center;
					background-color: #BDC3C9;
					border-radius: 50%;
					display: flex;
					flex: 0 0 64px;
					height: 64px;
					justify-content: center;
					max-width: 64px;
				}
				.main-contact-social-item-text{
					color: black;
					font-size: 22px;
					@include font-Roboto-Medium;
					line-height: calc(28 / 22);
				}
			}
		}
		.main-contact-info{
			align-items: center;
			column-gap: 60px;
			display: flex;
			flex-wrap: wrap;
			max-width: 780px;
			row-gap: 32px;
			@include media-breakpoint-down(lg){
				column-gap: 24px;
			}
			.main-contact-info-item{
				display: flex;
				flex: 0 0 360px;
				flex-direction: column;
				max-width: 360px;
				row-gap: 12px;
				@include media-breakpoint-down(lg){
					flex: 0 0 50%;
					max-width: 50%;
				}
				@include media-breakpoint-down(md){
					flex: 0 0 100%;
					max-width: 100%;
				}
				span{
					color: #97A0A9;
					font-size: 23px;
					@include font-Roboto-SemiBold;
					line-height: calc(28 / 23);
				}
				a{
					color: black;
					font-size: 30px;
					@include font-Roboto-Bold;
					line-height: calc(35 / 30);
				}
			}
		}
	}
}