.personal-profile{
	padding-bottom: 30px;
	.personal-profile-wrapper{
		display: flex;
		column-gap: 24px;
		flex-wrap: wrap;
		row-gap: 40px;
		.personal-profile-menu{
			display: flex;
			flex: 0 0 288px;
			flex-direction: column;
			max-width: 288px;
			row-gap: 23px;
			@include media-breakpoint-down(lg){
				flex: 0 0 100%;
				max-width: 100%;
			}
			.personal-profile-menus{
				display: flex;
				flex-direction: column;
				row-gap: 8px;
				&:last-of-type{
					@include media-breakpoint-down(lg){
						display: grid;
						grid-column-gap: 24px;
						grid-template-columns: repeat(2, 1fr);
					}
					@include media-breakpoint-down(md){
						grid-template-columns: 1fr;
						grid-row-gap: 8px;
					}
				}
			}
			.personal-profile-menu-item{
				align-items: center;
				background-color: #E8ECEF;
				border-radius: 11px;
				color: black;
				display: flex;
				font-size: 18px;
				@include font-Roboto-Medium;
				height: 50px;
				line-height: calc(27 / 18);
				padding: 5px 20px;
				transition: all 0.3s ease-in-out 0s;
				&.other-menu-item{
					background-color: transparent;
					border-radius: 0;
					column-gap: 15px;
					height: auto;
					padding: 0;
					.personal-profile-menu-item-icon{
						align-items: center;
						background-color: #E8ECEF;
						border-radius: 11px;
						display: flex;
						flex: 0 0 56px;
						height: 56px;
						justify-content: center;
						max-width: 56px;
						transition: all 0.3s ease-in-out 0s;
						svg{
							path{
								transition: all 0.3s ease-in-out 0s;
							}
						}
					}
				}
				&:hover,
				&:focus,
				&.active{
					background-color: #202020;
					color: white;
					&.other-menu-item{
						background-color: transparent;
						color: black;
						.personal-profile-menu-item-icon{
							background-color: #202020;
							svg{
								path{
									fill: white;
								}
							}
						}
					}
				}
			}
		}
		.personal-profile-content{
			display: flex;
			flex: 0 0 calc(100% - (288px + 24px));
			flex-direction: column;
			max-width: calc(100% - (288px + 24px));
			@include media-breakpoint-down(lg){
				flex: 0 0 100%;
				max-width: 100%;
			}
			.personal-profile-info{
				display: flex;
				flex-direction: column;
				max-width: 600px;
				width: 100%;
				@include media-breakpoint-down(lg){
					max-width: 100%;
				}
				.personal-profile-info-form{
					display: flex;
					flex-direction: column;
					row-gap: 36px;
					.personal-profile-info-form-picture{
						align-items: center;
						column-gap: 28px;
						display: flex;
						@include media-breakpoint-down(md){
							align-items: flex-start;
							flex-direction: column;
							row-gap: 30px;
						}
						.personal-profile-info-form-picture-upload{
							position: relative;
							.image-box{
								align-items: center;
								background-color: #DEE3E6;
								border-radius: 50%;
								display: flex;
								height: 70px;
								justify-content: center;
								overflow: hidden;
								position: relative;
								width: 70px;
								img{
									height: 100%;
									object-fit: cover;
									position: relative;
									width: 100%;
									z-index: 1;
								}
								svg{
									border-radius: 50%;
								}
								&:before{
									background: linear-gradient(232.46deg, #E1F12D -7.99%, #85DB4D 31%, #44E6D4 67.45%, #3291F6 107.61%);
									mask: radial-gradient(farthest-side, transparent calc(100% - 5px), black calc(100% - 5px));
									border-radius: 50%;
									content: none;
									height: 100%;
									left: 0;
									padding: 5px;
									position: absolute;
									top: 0;
									transform: rotate(-180deg);
									width: 100%;
									z-index: 2;
									@include media-breakpoint-down(lg){
										content: '';
									}
								}
							}
							.image-upload{
								align-items: center;
								background-color: #BDC3C9;
								border-radius: 6px;
								bottom: 0;
								cursor: pointer;
								display: flex;
								height: 28px;
								justify-content: center;
								position: absolute;
								right: 0;
								width: 32px;
								z-index: 10;
							}
						}
						.personal-profile-info-form-username{
							color: black;
							font-size: 30px;
							@include font-Roboto-Bold;
							line-height: calc(35 / 30);
							margin-bottom: 8px;
						}
						.personal-profile-info-form-email{
							align-items: center;
							column-gap: 6px;
							display: flex;
							@include media-breakpoint-down(md){
								align-items: flex-start;
								flex-direction: column;
								row-gap: 8px;
							}
							span{
								color: black;
								font-size: 18px;
								@include font-Roboto-Medium;
								line-height: calc(27 / 18);
								&:first-of-type{
									color: #939393;
								}
							}
						}
					}
					.personal-profile-info-form-group{
						display: flex;
						flex-direction: column;
						row-gap: 14px;
						.personal-profile-info-form-item{
							display: block;
							margin-bottom: 0;
							.form-control{
								background-color: #E8ECEF;
								border: none;
								border-radius: 11px;
								box-shadow: none;
								color: black;
								font-size: 17px;
								@include font-Roboto-Medium;
								height: 48px;
								line-height: calc(21 / 17);
								padding: 5px 20px;
								&::-webkit-input-placeholder{
									color: #8E9499;
									opacity: 1;
								}
								&:-moz-placeholder{
									color: #8E9499;
									opacity: 1;
								}
								&::-moz-placeholder{
									color: #8E9499;
									opacity: 1;
								}
								&::-ms-input-placeholder{
									color: #8E9499;
									opacity: 1;
								}
								&:-ms-input-placeholder{
									color: #8E9499;
									opacity: 1;
								}
							}
							p{
								color: #8E9499;
								font-size: 17px;
								@include font-Roboto-Medium;
								line-height: calc(21 / 17);
							}
						}
					}
					.personal-profile-action{
						align-items: center;
						column-gap: 10px;
						display: flex;
						justify-content: space-between;
						@include media-breakpoint-down(md){
							align-items: flex-start;
							flex-direction: column;
							row-gap: 20px;
						}
						.personal-profile-action-delete-account,
						.personal-profile-action-logout{
							align-items: center;
							background-color: transparent;
							border: none;
							border-radius: 0;
							color: #97A0A9;
							column-gap: 9px;
							display: flex;
							font-size: 18px;
							@include font-Roboto-Medium;
							line-height: calc(27 / 18);
							padding: 0;
						}
					}
				}
			}
		}
	}
}